@charset "UTF-8";
/* CSS Document */

/**=============TABLE OF CONTENTS======
01. SPACING
02. NAVIGATION
====================================**/


.placeholder {
background-color:#26E5AF;
width:auto;
height:5rem;	
}


/**============01SPACING================**/
.margin-30{
	margin-top:2rem;
}
.padding-30 {
	padding-top:2rem;
}
/**=============01SPACING===============**/
.wrapper {
margin:3.125rem 0;	
}
/**=============02 NAVIGATION===============**/
nav li {
margin-bottom:1rem;	
}
nav ul li {
list-style:none;
font-size:2rem;
background:aquamarine;	
margin-bottom:1rem;
text-align:center;
}

ul {
    margin-left: 0;
}

.side-nav {
margin:0 0 0 50px;	
}
#logo {
width:100px;
height:50px;	
}

.img-nav {
	width: 6rem;
    height: 6rem;
    background: grey;
    margin-bottom: .5rem;
    padding-left: 33.33333%;
}
/**=============02 NAVIGATION===============**/


nav li {
margin-bottom:1rem;	
}
nav ul li {
list-style:none;
font-size:2rem;
background:aquamarine;	
margin-bottom:1rem;
text-align:center;
}

ul {
    margin-left: 0;
}

.side-nav {
margin:0 0 0 50px;	
}
#logo {
width:100px;
height:50px;	
}
.wrapper {
margin:3.125rem 0;	
}


/*-------responsive patterns three columns-------------*/
.c {
  padding: 1em;
}

@media screen and (min-width: 56em) {
  .main {
    width: 50%;
    margin-left: 25%;
    float: left;
    padding: 0 1em;
  }
  .sb {
    float: left;
    width: 25%;
    margin-left: -75%;
  }
  .sb-2 {
    float: right;
    width: 25%;
  }
}
/*-------responsive patterns box grid-------------*/

.grid {
  		overflow: hidden;
			padding: 0.5em 0 0 0.5em;
			max-width: 76em;
			margin: 0 auto;
		}
		.grid li {
			padding: 0 0.5em 0.5em 0;
		}
		.grid li > div {
			background: #808080;
			padding: 7em 2em;
			text-align: center;
		}
		.grid li a {
			color: #fff;
		}
		
		@media all and (min-width: 27em) {
			.grid li {
				width: 50%;
				float: left;
			}
		}
		
		@media all and (min-width: 40em) {
			.grid li {
				width: 33.3333333%;
			}
			.grid li.wide {
				width: 66.666666%;
			}
		}
		@media all and (min-width: 60em) {
			.grid li {
				width: 25%;
			}
			.grid li.wide {
				width: 50%;
			}
		}


/*-------responsive patterns box grid-------------*/

/*-------MEDIA QUERIES-------------*/
/* Small screens*/
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
	.placeholder-250x191 {
margin-top:30px;
}
.placeholder-750x350{
	margin-top:30px;
}
.placeholder-250x382 {
	margin-top:30px;
}
.placeholder-500x390 {
margin-top:30px;
}
.placeholder-250x416 {
margin-top:30px;	
}
.wrapper {
margin:50px 0;	
}
	 } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	
	.placeholder-250x191 {
margin-top:30px;
}
.placeholder-750x350{
	margin-top:30px;
}
.placeholder-250x382 {
	margin-top:30px;
}
.placeholder-500x390 {
margin-top:30px;
}
.placeholder-250x416 {
margin-top:30px;	
}
.wrapper {
margin:50px 0;	
}
		
	 } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */ /* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
	.placeholder-250x191 {
margin-top:30px;
}

.placeholder-500x390 {
margin-top:30px;
}
.placeholder-250x416 {
margin-top:30px;	
}
.wrapper {
margin:50px 0;	
}

nav ul li {
list-style:none;
}
.side-nav {
margin:0 0 0 50px;	
}
#logo {
width:100px;
height:50px;	
}
	 } 

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens*/
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */